default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: dirtr_2208_be_development
test:
  <<: *default
  database: dirtr_2208_be_test

production:
  <<: *default
  database: dirtr_2208_be_production
  username: dirtr_2208_be
  password: <%= ENV['DIRTR_2208_BE_DATABASE_PASSWORD'] %>
